.svg-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
  .rect {
    fill: #851d3e;
  }
  
  .tooltip {
    position: relative;
    z-index: 10;
    display: inline-block;
    background-color: black;
    padding: 10px;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    fill-opacity: 100;
    font-family: "Robot Mono", sans-serif;
    color: whitesmoke;
    padding: 1rem;
    font-size: 15px;
    z-index: 100;
    visibility: hidden;
  }
  
  .chart-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .axis-label {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
  }
  .y-axis-ticks {
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
  }
  
  .Bar_chart {
    background-color: rgb(255, 245, 254);
  }